# large/sensitive data (don’t push)
*.xlsx
*.xlsb
data/
.Rhistory
.Rproj.user/
.Rhistory
.RData
.Rproj.user
data-raw/

# macOS system files
.DS_Store

# RStudio temporary files
.Rproj.user
.Rhistory
.RData.Renviron
